@keyframes scale-up-center-modal {
    0% {
        transform: scale(.5) translate(-50%, -50%)
    }
    100% {
        transform: scale(1) translate(-50%, -50%)
    }
}

@keyframes slide-right {
    0% {
        transform: translate(-400%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes rotating {
    from {
        transform: rotate(-10deg) translate(-50%, -50%);
    }
    to {
        transform: rotate(10deg) translate(-50%, -50%);
    }
}

@keyframes only-rotating {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background: #666666;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}


/* ScreenExpand */

.screen {
    position: fixed;
    pointer-events: none;
    cursor: pointer;
    background: rgba(46, 46, 46, 0.808);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    transition: 0.3s;
    filter: opacity(0);
}

.screen-on {
    filter: opacity(1);
    pointer-events: visible;
}