.email-app{
    display: flex;
    height: 70vh;
}

.mail-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email-list{
   flex-grow: 1;
   margin-right:40px;
   margin-left: 40px;
}

.mail-preview{
    display: flex;
    justify-content: space-between;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
