header {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #363636;
    padding: 0 0.5rem;
    height: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 0.5rem;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a i {
    margin-inline-start: 1rem;
    font-weight: 400;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    transition: 0.3s;
}

.nav-bar a i:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1)
}

.logo-img {
    width: 70px;
}

@media (min-width: 770px) {
    .logo-img {
        margin-left: 150px;
    }
}