header {
    background-color: rgb(212, 211, 211);
    padding: 0 0.5rem;
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 0.5rem;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a i {
    margin-inline-start: 1rem;
    font-weight: 400;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    transition: 0.3s;
}

.nav-bar a i:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1)
}